@import '../../scss/variables.scss';

.notification {
  position: absolute;
  top: -50px;
  width: 100%;
  left: 0;
  background: $main-button-cl;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;

  &.error {
    background: $warning-cl;
  }
}
