.notification {
  position: absolute;
  top: -50px;
  width: 100%;
  left: 0;
  background: #a8bc4d;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px; }
  .notification.error {
    background: #f77f79; }
