.contact-details-wrapper {
  padding-right: 300px; }
  .contact-details-wrapper .form-field {
    margin: 0 30px 10px 0;
    display: inline-block;
    width: 300px;
    text-align: left; }
    .contact-details-wrapper .form-field input, .contact-details-wrapper .form-field textarea {
      width: 100%; }
    .contact-details-wrapper .form-field textarea {
      border-color: #e0dfe4;
      height: 150px; }
    .contact-details-wrapper .form-field #address, .contact-details-wrapper .form-field #post_index {
      margin-bottom: 28px; }
    .contact-details-wrapper .form-field .Select .Select-control {
      border-radius: 0; }
  .contact-details-wrapper .submit-field {
    text-align: right; }
    .contact-details-wrapper .submit-field .btn-next {
      width: auto; }
  .contact-details-wrapper.admin .submit-field {
    width: 630px; }
