@import '../../scss/variables.scss';

.contact-details-wrapper {
  padding-right: 300px;
  .form-field {
    margin: 0 30px 10px 0;
    display: inline-block;
    width: 300px;
    text-align: left;
    input, textarea {
      width: 100%;
    }
    textarea {
      border-color: #e0dfe4;
      height: 150px;
    }
    #address, #post_index {
      margin-bottom: 28px;
    }
    .Select {
      .Select-control {
        border-radius: 0;
      }
    }
  }
  .submit-field {
    text-align: right;
    .btn-next {
      width: auto;
    }
  }

  &.admin {
    .submit-field {
      width: 630px;
    }
  }
}
