.register-tabs {
  margin-top: 30px; }
  .register-tabs li {
    display: inline-block;
    vertical-align: middle;
    background-color: #9fb2bf;
    margin: 0 5px 0 0; }
    .register-tabs li a {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      text-decoration: none;
      padding: 10px 15px;
      font-weight: 600; }
  .register-tabs li.active {
    background: #fff; }
    .register-tabs li.active a {
      color: #9fb2bf; }

.react-tabs .react-tabs__tab {
  display: inline-block;
  vertical-align: middle;
  background-color: #9fb2bf;
  margin: 0 5px 0 0;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 600;
  cursor: pointer; }
  .react-tabs .react-tabs__tab.react-tabs__tab--selected {
    background: #fff;
    color: #9fb2bf; }

.btn-next {
  margin-top: 20px; }
