@import '../../scss/variables.scss';

.register-tabs {
  margin-top: 30px;
  li {
    display: inline-block;
    vertical-align: middle;
    background-color: $secondary-button-cl;
    margin: 0 5px 0 0;
    a {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      text-decoration: none;
      padding: 10px 15px;
      font-weight: 600;
    }
  }
  li.active {
    background: #fff;
    a {
      color: $secondary-button-cl;
    }
  }
}

.react-tabs {
  .react-tabs__tab {
    display: inline-block;
    vertical-align: middle;
    background-color: $secondary-button-cl;
    margin: 0 5px 0 0;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
    &.react-tabs__tab--selected {
      background: #fff;
      color: $secondary-button-cl;
    }
  }
}

.btn-next {
  margin-top: 20px;
}
