header.header {
  background-color: #ffffff;
  border-bottom: 1px solid #dfe0e3;
  font-size: 0; }
  header.header .logo {
    display: inline-block;
    vertical-align: middle; }
  header.header .menu {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: calc(100% - 70px);
    margin-top: 25px; }
    header.header .menu ul {
      text-align: right; }
    header.header .menu li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;
      cursor: pointer; }
      header.header .menu li a {
        display: inline-block;
        padding: 10px 10px 15px;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #000;
        border-bottom: 3px solid transparent; }
      header.header .menu li:hover a {
        border-bottom: 3px solid #a8bc4d; }
    header.header .menu li.active a {
      border-bottom: 3px solid #a8bc4d; }
  header.header .container {
    position: relative; }
  header.header .sub-menu {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px 0 10px 10px; }
    header.header .sub-menu li {
      display: inline-block; }
      header.header .sub-menu li.active a {
        color: #a8bc4d; }
    header.header .sub-menu a {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      color: #6f7074;
      font-weight: normal;
      padding: 10px 10px 15px;
      text-decoration: none; }
      header.header .sub-menu a:hover {
        color: #a8bc4d; }
