@import '../../scss/variables.scss';

header.header {
  background-color: $header-cl;
  border-bottom: 1px solid $header-border-cl;
  font-size: 0;
  .logo {
    display: inline-block;
    vertical-align: middle;
  }
  .menu {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: calc(100% - 70px);
    margin-top: 25px;
    ul {
      text-align: right;
    }
    li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;
      cursor: pointer;
      a {
        display: inline-block;
        padding: 10px 10px 15px;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #000;
        border-bottom: 3px solid transparent;
      }
      &:hover {
        a {
          border-bottom: 3px solid $main-button-cl;
        }
      }
    }
    li.active {
      a {
        border-bottom: 3px solid $main-button-cl;
      }
    }
  }

  // ToDo: do it more clear
  .container {
    position: relative;
  }
  .sub-menu {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px 0 10px 10px;
    li {
      display: inline-block;
      &.active {
        a {
          color: #a8bc4d;
        }
      }
    }
    a {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      color: #6f7074;
      font-weight: normal;
      padding: 10px 10px 15px;
      text-decoration: none;
      &:hover {
        color: #a8bc4d;
      }
    }
  }
}