@import '../../scss/variables.scss';

.login {
  position: relative;
  .form-field {
    margin-bottom: 5px;
  }
  .text-field {
    position: relative;
    text-align: center;
    input {
      border-radius: 4px;
      width: 100%;
      display: block;
    }
  }
  .checkbox-field {
    > * {
      display: inline-block;
      vertical-align: middle;
    }
    label {
      margin: 0 0 0 5px;
    }
  }
  .submit-field {
    margin-bottom: 10px;
  }
  a.forgot-password {
    font-size: 14px;
    color: $text-cl;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
  }
  .forgot-pass-form {
    margin-top: 15px;
    .submit-field {
      margin-bottom: 0;
    }
  }
  .frame-btn {
    text-align: center;
  }
  .btn-register {
    margin-top: 20px;
    background-color: $secondary-button-cl;
  }
}