.login {
  position: relative; }
  .login .form-field {
    margin-bottom: 5px; }
  .login .text-field {
    position: relative;
    text-align: center; }
    .login .text-field input {
      border-radius: 4px;
      width: 100%;
      display: block; }
  .login .checkbox-field > * {
    display: inline-block;
    vertical-align: middle; }
  .login .checkbox-field label {
    margin: 0 0 0 5px; }
  .login .submit-field {
    margin-bottom: 10px; }
  .login a.forgot-password {
    font-size: 14px;
    color: #262626;
    text-decoration: underline;
    outline: none;
    cursor: pointer; }
  .login .forgot-pass-form {
    margin-top: 15px; }
    .login .forgot-pass-form .submit-field {
      margin-bottom: 0; }
  .login .frame-btn {
    text-align: center; }
  .login .btn-register {
    margin-top: 20px;
    background-color: #9fb2bf; }
