@import url(./../node_modules/react-select/dist/react-select.min.css);
body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

[class^="btn-"] {
  border: none;
  background: none; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

[class^="btn-"] {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 15px;
  outline: none; }

.btn-main {
  background-color: #a8bc4d;
  border: 2px solid #a8bc4d;
  cursor: pointer; }
  .btn-main:hover {
    background-color: #ffffff;
    color: #a8bc4d; }

.btn-main-alt {
  background-color: #fff;
  color: #a8bc4d;
  border: 2px solid #a8bc4d;
  cursor: pointer; }
  .btn-main-alt:hover {
    background-color: #a8bc4d;
    color: #fff; }

.btn-remove {
  background-color: #f77f79;
  border: 2px solid #f77f79;
  cursor: pointer; }
  .btn-remove:hover {
    background-color: #ffffff;
    color: #f77f79; }

input[type="email"], input[type="password"], input[type="text"], textarea {
  padding: 8px 10px;
  font-size: 14px;
  color: #262626;
  border: 1px solid #e0dfe4; }

.checkbox-group {
  margin-bottom: 25px; }

.checkbox-label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  display: block; }
  .checkbox-label input {
    display: none; }
  .checkbox-label:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #f6f7fb;
    border: 1px solid #dfdee3;
    border-radius: 4px;
    top: -1px;
    left: -2px; }
  .checkbox-label .icon-checked {
    position: absolute;
    display: none; }
    .checkbox-label .icon-checked svg {
      font-size: 22px; }
  .checkbox-label input[type="checkbox"]:checked + .icon-checked {
    display: inline-block;
    top: -5px;
    left: -1px; }

.form-field {
  display: block;
  margin-bottom: 10px; }
  .form-field .radio {
    display: inline-block;
    width: 33.3333%;
    margin-bottom: 10px;
    padding-left: 25px; }
    .form-field .radio label {
      cursor: pointer; }
      .form-field .radio label .text-el {
        position: relative; }
        .form-field .radio label .text-el:before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          border: 1px solid #e0e1e3;
          background: #f6f7fb;
          border-radius: 50%;
          top: 2px;
          left: -24px; }
    .form-field .radio input {
      display: none; }
  .form-field input[type="radio"]:checked + .text-el:before {
    width: 12px;
    height: 12px;
    top: 0;
    left: -25px;
    background-color: #a1cd51;
    border: 2px solid #87ab41;
    border-radius: 50%; }

.table-frame {
  margin-bottom: 25px; }
  .table-frame .table-head {
    font-weight: bold; }
  .table-frame .one-item {
    border-bottom: 1px solid #e0dfe4;
    padding: 8px 0; }
    .table-frame .one-item > div {
      display: inline-block;
      vertical-align: middle; }

/**
* ----------------------------------------------
* Styles for react accordion
* ----------------------------------------------
**/
.u-position-absolute {
  position: absolute; }

.u-position-relative {
  position: relative; }

.accordion {
  margin-bottom: 10px;
  background: #fff; }

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.accordion__item--has-icon {
  position: relative; }

.accordion__title {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none; }
  .accordion__title:hover {
    background-color: #ddd; }
  .accordion__title h3 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; }
  .accordion__title h3 + svg {
    vertical-align: middle; }
  .accordion__title[aria-selected="true"] svg {
    transform: rotate(180deg); }

.accordion__body {
  padding: 20px;
  display: block;
  animation: fadein 0.35s ease-in; }
  .accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein 0.35s ease-in; }

.accordion__title > *:last-child, .accordion__body > *:last-child {
  margin-bottom: 0; }

.accordion__arrow {
  display: inline-block;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px; }
  .accordion__arrow:after, .accordion__arrow:before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: ''; }
  .accordion__arrow:before {
    left: 4px;
    transform: rotate(45deg); }

[aria-expanded='true'] .accordion__arrow::before {
  transform: rotate(-45deg); }

.accordion__arrow::after {
  right: 4px;
  transform: rotate(-45deg); }

[aria-expanded='true'] .accordion__arrow::after {
  transform: rotate(45deg); }

.accordion__arrow::before,
.accordion__arrow::after {
  transition: transform 0.25s ease, -webkit-transform 0.25s ease; }

/* -------------------------------------------------- */
/* ----- Animation part for react accordion --------- */
/* -------------------------------------------------- */
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes move-down {
  0% {
    transform: translateY(0); }
  10% {
    transform: translateY(0); }
  20% {
    transform: translateY(5px); }
  30% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@keyframes move-up {
  0% {
    transform: translateY(0); }
  10% {
    transform: translateY(0); }
  20% {
    transform: translateY(-5px); }
  30% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

.accordion__title--animated:hover .accordion__arrow {
  animation-name: move-down;
  animation-duration: 1.5s; }

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
  animation-name: move-up;
  animation-duration: 1.5s; }

.valid-error {
  height: 35px; }
  .valid-error span {
    position: relative;
    color: #f77f79;
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #f77f79;
    border-radius: 5px;
    margin-top: 9px; }
    .valid-error span:before {
      content: '';
      position: absolute;
      top: -6px;
      right: 50%;
      margin-right: -6px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #f77f79; }
    .valid-error span:after {
      content: '';
      position: absolute;
      top: -5px;
      right: 50%;
      margin-right: -5px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff; }

.reg-title {
  font-weight: 300;
  font-size: 28px;
  margin: 20px 0 50px 0; }

.title {
  font-weight: 600;
  margin: 10px 0;
  font-size: 26px; }

.for-inputs, .for-checkobox {
  font-size: 14px;
  color: #262626;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
  text-align: left; }
  .for-inputs span, .for-checkobox span {
    color: #f77f79;
    font-size: 20px; }

* {
  box-sizing: border-box;
  outline: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #e9f0f4; }

.container {
  margin: 0 auto;
  width: 1100px; }
  .container.login {
    width: 400px; }
  .container.congratulations {
    width: 500px;
    margin-top: 50px; }
  .container.footer {
    text-align: center; }

main.container {
  position: relative;
  margin-top: 70px; }

.content {
  background-color: #ffffff;
  padding: 20px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

@media (max-width: 1200px) {
  .container {
    width: 768px; }
  .contact-details-wrapper {
    padding-right: 0; }
    .contact-details-wrapper .form-field {
      margin: 0 29px 5px 29px;
      width: 306px; }
  .user-settings-wrapper .checkbox-group:first-child {
    float: right;
    margin-right: 0; }
    .user-settings-wrapper .checkbox-group:first-child .form-field {
      width: 100%; }
  .user-settings-wrapper .form-field {
    width: 345px;
    padding-right: 0;
    margin-bottom: 15px;
    margin-right: 38px; }
    .user-settings-wrapper .form-field:nth-child(even) {
      margin-right: 0; }
    .user-settings-wrapper .form-field textarea {
      width: 100%; }
  .user-settings-wrapper .form-field:nth-last-child(2) {
    width: 100%; }
    .user-settings-wrapper .form-field:nth-last-child(2) textarea {
      width: 345px; }
  .user-settings-wrapper .text-field input {
    width: 100%; }
  .user-settings-wrapper .checkbox-group .form-field {
    margin-right: 0; }
  .user-settings-wrapper .submit-field {
    width: 100%;
    margin: -60px 0 0 0; }
  .user-rating-wrapper .skills-level-form, .user-rating-wrapper .rating-legend {
    display: block;
    width: 80%;
    margin: 0 auto; }
  .user-rating-wrapper .skills-level-form {
    margin-bottom: 30px; }
  .user-rating-wrapper .rating-legend ol {
    padding-left: 15px; }
  .start-page-wrapper form {
    margin-top: 70px; }
  .start-page-wrapper .form-field {
    width: 50%; }
  .start-page-wrapper .checkbox-group {
    width: 100%; }
    .start-page-wrapper .checkbox-group .form-field {
      width: 100%;
      margin-top: 20px; }
  .start-page-wrapper .submit-field {
    width: 100%;
    display: block;
    text-align: right; }
  .top-search-frame .title {
    margin-bottom: 22px;
    font-size: 2em; }
  .top-search-frame .search-panel {
    margin-bottom: 25px; }
    .top-search-frame .search-panel .form-field {
      margin-bottom: 20px;
      width: 100%; }
      .top-search-frame .search-panel .form-field .for-checkobox {
        display: block; }
      .top-search-frame .search-panel .form-field:first-child input {
        width: auto; }
  .search-result-table .user-avatar {
    width: 4%;
    text-align: center; }
    .search-result-table .user-avatar img {
      width: 28px;
      height: 28px; }
  .search-result-table .icon-user-role svg {
    font-size: 12px; }
  .search-result-table .table-head {
    font-size: 12px; }
  .search-result-table .table-body {
    font-size: 12px; }
    .search-result-table .table-body button {
      font-size: 10px;
      padding: 0 4px; }
  .create-project-page .form-field textarea {
    width: 345px; }
  .super-users-settings-frame .super-users-table .one-item .email {
    width: 50%; }
  .super-users-settings-frame .super-users-table .one-item .first-name, .super-users-settings-frame .super-users-table .one-item .last-name {
    width: 20%; }
  .super-users-settings-frame .super-users-table .one-item .option {
    width: 10%; }
  .contacts-list li {
    width: 220px;
    margin-left: 34px;
    margin-bottom: 25px; }
    .contacts-list li .avatar {
      height: 220px; }
  .company-details .frame-textarea .editable-field {
    width: 100%; }
    .company-details .frame-textarea .editable-field textarea {
      width: 100%; }
    .company-details .frame-textarea .editable-field + .editable-field {
      margin-left: 0; }
  .legal-company-details input[type="text"] {
    max-width: 50%; }
  .legal-company-details .form-field .for-inputs {
    width: 50%; } }

@media (max-width: 768px) {
  .container {
    width: 480px; }
  .reg-title {
    font-size: 24px;
    margin: 20px 0; }
  .contact-details-wrapper .form-field {
    margin: 0 auto 10px;
    width: 350px;
    display: block; }
    .contact-details-wrapper .form-field textarea {
      height: 100px; }
    .contact-details-wrapper .form-field #postal_code {
      margin-bottom: 28px; }
    .contact-details-wrapper .form-field .btn-next {
      margin-top: 0; }
    .contact-details-wrapper .form-field .valid-error {
      height: 30px; }
      .contact-details-wrapper .form-field .valid-error span {
        padding: 0 5px; }
  .user-settings-wrapper .checkbox-group:first-child {
    float: none; }
  .user-settings-wrapper .form-field {
    width: 100%;
    margin-right: 0; }
    .user-settings-wrapper .form-field:nth-child(even) {
      margin-right: 0; }
    .user-settings-wrapper .form-field .valid-error {
      height: 30px; }
      .user-settings-wrapper .form-field .valid-error span {
        padding: 0 5px; }
  .user-settings-wrapper .form-field:nth-last-child(2) textarea {
    width: 100%; }
  .user-settings-wrapper .submit-field {
    margin: 0; }
  .user-skills-wrapper textarea {
    width: 100%; }
  .user-rating-wrapper .skills-level-form, .user-rating-wrapper .rating-legend {
    width: 100%; }
  .user-rating-wrapper .skills-rates > li .checkbox-group .form-field {
    width: 65%; }
  .user-rating-wrapper .skills-rates > li .checkbox-group .rate-scale {
    width: 35%; }
  .cv-wrapper .image-preview {
    width: 200px;
    height: 200px;
    margin-bottom: 10px; }
  .cv-wrapper .form-field .valid-error {
    height: 30px;
    width: 100%; }
    .cv-wrapper .form-field .valid-error span {
      padding: 0 5px;
      margin-top: 4px; }
  .cv-wrapper .valid-error {
    width: 100%; }
  .cv-wrapper .checkbox-group .form-field {
    width: 50%; }
  .cv-wrapper .checkbox-group .valid-error {
    width: 100%;
    margin-bottom: 15px; }
  .cv-wrapper textarea {
    width: 100%; }
  .cv-wrapper .experiences, .cv-wrapper .education, .cv-wrapper .certification, .cv-wrapper .languages {
    margin-bottom: 10px;
    width: 100%; }
    .cv-wrapper .experiences .for-inputs, .cv-wrapper .education .for-inputs, .cv-wrapper .certification .for-inputs, .cv-wrapper .languages .for-inputs {
      font-size: 16px; }
    .cv-wrapper .experiences .btn-add, .cv-wrapper .education .btn-add, .cv-wrapper .certification .btn-add, .cv-wrapper .languages .btn-add {
      background: #9eb2c0;
      padding: 5px 15px; }
  .cv-wrapper .field-from, .cv-wrapper .field-to, .cv-wrapper .customer-field, .cv-wrapper .role-field {
    width: 48%; }
  .cv-wrapper .cv-form .for-inputs {
    font-size: 14px; }
  .cv-wrapper .cv-form textarea {
    width: 100%; }
  .cv-wrapper .cv-form .valid-error {
    width: 100%;
    margin-top: 2px; }
  .cv-wrapper .btn-field input {
    padding: 5px 10px; }
  .cv-wrapper .text-field input {
    width: 100%; }
  .cv-wrapper .preview .preview-field {
    margin-bottom: 15px; }
  .cv-wrapper .submit-field {
    margin-right: 0; }
  .start-page-wrapper .title {
    font-size: 22px; }
  .start-page-wrapper .description {
    font-size: 18px; }
  .start-page-wrapper .note {
    font-size: 14px; }
  .start-page-wrapper form {
    margin-top: 50px; }
  .start-page-wrapper .form-field {
    width: 100%;
    margin-top: 20px; }
  .start-page-wrapper .checkbox-group .form-field {
    margin-top: 20px; }
  .start-page-wrapper .submit-field {
    width: 100%;
    display: block;
    text-align: right; }
  .legal-information-frame .form-field .radio {
    display: block;
    width: 100%; }
  .legal-information-frame .form-field .for-inputs {
    width: 100%; }
  .legal-information-frame .text-field input, .legal-information-frame .text-field textarea {
    width: 100%; }
  .projects-list-page .btn-next {
    font-size: 12px;
    padding: 2px 5px; }
  .projects-list-page .result-length .for-checkobox {
    font-size: 12px; }
  .projects-list-page .projects-list li {
    padding: 8px 10px 8px 0;
    font-size: 12px; }
    .projects-list-page .projects-list li .first-col {
      width: 40%; }
    .projects-list-page .projects-list li .second-col {
      width: 40%; }
    .projects-list-page .projects-list li .third-col {
      width: 20%; }
    .projects-list-page .projects-list li .edit-link {
      font-size: 12px; }
  .search-filter-frame .accordion .reg-title + svg {
    font-size: 26px; }
  .search-parameters .checkbox-group li, .accordion .checkbox-group li {
    width: 50%; }
  .search-result-table .table-head {
    display: none; }
  .search-result-table .user-avatar {
    width: 10%;
    text-align: center !important; }
    .search-result-table .user-avatar img {
      width: 35px;
      height: 35px; }
  .search-result-table .icon-user-role {
    width: 5%;
    text-align: center !important; }
  .search-result-table .first-name {
    width: auto;
    padding: 0;
    margin-right: 5px; }
  .search-result-table .last-name {
    width: auto;
    padding: 0; }
  .search-result-table .position {
    width: 100%;
    margin: 5px 0; }
  .search-result-table .work-from {
    width: 100%;
    margin-bottom: 5px; }
  .search-result-table .status {
    width: 100%;
    margin-bottom: 5px; }
  .search-result-table .comment {
    width: 100%;
    margin-bottom: 5px; }
  .search-result-table .buttons {
    width: auto; }
  .search-result-table .table-body .xs-title {
    display: inline-block;
    font-weight: 600; }
  .search-result-table .one-item > div {
    text-align: left; }
  .search-filter-frame .filters-list li {
    margin-right: 0;
    width: 50%; }
  .search-result-table .company-name, .search-result-table .company-profile, .search-result-table .company-phone, .search-result-table .company-email, .search-result-table .company-partner, .search-result-table .company-consultant {
    width: 50%; }
  .create-project-page .form-field input {
    width: 65%; }
  .create-project-page .form-field textarea {
    width: 100%;
    height: 150px; }
  .create-project-page .Select {
    width: 65%; }
  .create-project-page .for-inputs {
    width: 35%; }
  .create-project-page .frame-btn .btn-main {
    font-size: 12px;
    padding: 2px 5px; }
  .create-project-page .btn-main {
    font-size: 12px;
    padding: 2px 5px; }
  .setting-page form .btn-next {
    font-size: 12px;
    padding: 5px 10px; }
  .terms-settings-frame form .mce-btn button {
    padding: 4px 4px;
    font-size: 12px; }
    .terms-settings-frame form .mce-btn button i {
      font-size: 12px;
      line-height: 12px; }
  .terms-settings-frame form .mce-edit-area body {
    font-size: 12px !important; }
  .contacts-stuff-settings-frame .image-preview img {
    max-width: 150px;
    max-height: 150px; }
  .super-users-settings-frame .super-users-table .one-item {
    font-size: 12px; }
  .logs-settings-frame .log-list .item {
    padding: 5px 0; }
  .notify-emails-settings-frame .form-field {
    width: 70%; }
    .notify-emails-settings-frame .form-field .Select {
      width: 100%; }
  .notify-emails-settings-frame .text-field {
    margin-left: 0; }
    .notify-emails-settings-frame .text-field input {
      width: 100%; }
  .notify-emails-settings-frame .btn-next {
    font-size: 12px;
    padding: 5px 10px; }
  .notify-emails-settings-frame .notify-list .remove-notify {
    margin-left: 10px;
    margin-top: 7px;
    width: 26px;
    height: 26px; }
  .notify-emails-settings-frame .add-notify .form-field {
    width: 70%;
    margin-bottom: 10px; }
  .notify-emails-settings-frame .add-notify .btn-next {
    margin: 3px 0 0 25px; }
  .contacts-page .contacts-link {
    font-size: 16px; }
  .contacts-list li {
    width: 250px;
    margin: 0 auto 30px !important;
    display: block; }
    .contacts-list li .avatar {
      height: 250px;
      margin-bottom: 10px; }
    .contacts-list li .name {
      font-size: 22px;
      margin-bottom: 10px; }
    .contacts-list li .sub {
      font-size: 14px;
      margin-bottom: 10px; }
  .company-details .assignments-type .one-item {
    width: 50%; }
  .company-details .main-frame-data {
    display: block; }
  .company-details .title-field input[type="text"] {
    font-size: 20px; }
  .company-details .photo-block-wrap {
    width: 200px !important; }
  .legal-company-details input[type="text"] {
    max-width: 100%; }
  .legal-company-details .form-field .for-inputs {
    width: 100%; }
  .competences-frame [class^="btn-"] {
    font-size: 12px;
    padding: 5px 10px; }
  .competences-frame .add-skill-family .frame-inputs {
    width: 100%; }
  .competences-frame .add-skill-family .form-field {
    width: calc(50% - 5px);
    margin-right: 10px; }
    .competences-frame .add-skill-family .form-field input {
      width: 100%; }
    .competences-frame .add-skill-family .form-field:last-child {
      margin-right: 0; }
  .competences-frame .families-list > li .frame-inputs,
  .competences-frame .skills-list > li .frame-inputs {
    width: 100%; }
  .competences-frame .families-list > li .form-field,
  .competences-frame .skills-list > li .form-field {
    width: calc(50% - 5px);
    margin-right: 10px; }
    .competences-frame .families-list > li .form-field input,
    .competences-frame .skills-list > li .form-field input {
      width: 100%; }
    .competences-frame .families-list > li .form-field:last-child,
    .competences-frame .skills-list > li .form-field:last-child {
      margin-right: 0; }
  .competences-frame .skills-list {
    margin: 10px 0; }
  .competences-frame .competence-family {
    padding: 0;
    margin-bottom: 10px; }
    .competences-frame .competence-family .btn-remove {
      margin-top: 0; }
  .competences-frame .frame-btn {
    display: block;
    margin-bottom: 10px;
    text-align: right; }
  .competences-frame .families-list {
    margin: 20px 0; }
  .time-reports-pages .frame-buttons {
    float: none;
    width: 100%;
    margin-bottom: 15px; }
  .time-reports-pages .frame-time-report {
    padding-top: 0; }
    .time-reports-pages .frame-time-report .form-field .for-inputs {
      margin-bottom: 10px; }
  .one-report-wrapper {
    font-size: 12px; }
    .one-report-wrapper .one-item {
      border-bottom: 1px solid #e0dfe4;
      padding: 8px 0; }
      .one-report-wrapper .one-item.active {
        background: #feebeb; }
      .one-report-wrapper .one-item .day {
        width: 25%; }
      .one-report-wrapper .one-item .hours {
        width: 25%; }
      .one-report-wrapper .one-item .activity {
        width: 50%; }
  .invoice-frame {
    font-size: 12px; }
  .invoice-section textarea, .invoice-section input[type="text"], .invoice-section input[type="number"] {
    font-size: 12px;
    width: 100%; }
  .invoice-section .column {
    padding: 5px; }
  .invoice-section .Select .Select-control {
    height: 20px; }
    .invoice-section .Select .Select-control .Select-value {
      line-height: 20px; }
    .invoice-section .Select .Select-control .Select-arrow-zone {
      padding-top: 3px; }
  .invoice-section .Select .Select-input {
    height: 20px; }
  .invoice-section.general .section-body {
    padding: 5px; }
  .invoice-section.general textarea {
    margin-bottom: 10px; }
  .invoice-section.customer .customer-column {
    width: 50%; }
  .invoice-section.customer .serial-column {
    width: 50%; }
    .invoice-section.customer .serial-column .invoice-date > div {
      width: 50%; }
  .invoice-section.description .description-column {
    width: 50%; }
  .invoice-section.description .del-description {
    font-size: 12px; }
  .invoice-section.description .fee-column {
    width: 10%; }
  .invoice-section.description .sum-column {
    width: 25%; } }

@media (max-width: 480px) {
  .container {
    width: 320px; }
  main.container {
    margin-top: 30px; }
  .for-inputs, .for-checkobox {
    font-size: 12px; }
    .for-inputs span, .for-checkobox span {
      font-size: 16px; }
  .register-tabs {
    margin-top: 0; }
    .register-tabs li {
      margin: 0 1px 0 0;
      font-size: 12px; }
      .register-tabs li a {
        padding: 8px 8px;
        font-weight: 400; }
  .reg-title {
    font-size: 18px;
    margin: 10px 0; }
  .contact-details-wrapper .form-field {
    width: 100%; }
    .contact-details-wrapper .form-field #postal_code, .contact-details-wrapper .form-field #address {
      margin-bottom: 25px; }
    .contact-details-wrapper .form-field .btn-next {
      font-size: 12px;
      padding: 5px 10px; }
    .contact-details-wrapper .form-field .valid-error {
      height: 25px;
      font-size: 12px; }
      .contact-details-wrapper .form-field .valid-error span {
        margin-top: 6px; }
  .user-settings-wrapper .checkbox-group {
    margin-bottom: 15px; }
    .user-settings-wrapper .checkbox-group .form-field {
      margin-bottom: 10px; }
      .user-settings-wrapper .checkbox-group .form-field label {
        font-size: 12px; }
      .user-settings-wrapper .checkbox-group .form-field .checkbox-label:before {
        top: -2px; }
  .user-settings-wrapper .form-field .valid-error {
    height: 25px;
    font-size: 12px; }
    .user-settings-wrapper .form-field .valid-error span {
      margin-top: 6px; }
  .user-settings-wrapper .btn-next {
    font-size: 12px;
    padding: 5px 10px; }
  .user-skills-wrapper .skill-group {
    margin-bottom: 10px; }
    .user-skills-wrapper .skill-group .skill-label {
      padding: 3px 5px;
      font-size: 12px; }
  .user-skills-wrapper .btn-next {
    font-size: 12px;
    padding: 5px 10px;
    margin-top: 15px; }
  .user-rating-wrapper .fa-star {
    font-size: 14px;
    margin-right: 3px; }
  .user-rating-wrapper .checkbox-group .form-field label {
    font-size: 12px; }
  .user-rating-wrapper .checkbox-group .form-field .checkbox-label:before {
    top: -2px; }
  .user-rating-wrapper .btn-next {
    font-size: 12px;
    padding: 5px 10px;
    margin-top: 0; }
  .cv-wrapper .image-preview {
    width: 130px;
    height: 130px; }
  .cv-wrapper .form-field .valid-error {
    height: 25px; }
  .cv-wrapper .form-field .radio {
    width: 50%; }
  .cv-wrapper .checkbox-group .valid-error {
    width: 100%;
    margin-bottom: 10px;
    height: 20px; }
    .cv-wrapper .checkbox-group .valid-error span {
      padding: 1px 5px;
      font-size: 12px;
      margin-top: 0; }
  .cv-wrapper .checkbox-group .form-field {
    width: 100%; }
  .cv-wrapper .experiences .for-inputs, .cv-wrapper .education .for-inputs, .cv-wrapper .certification .for-inputs, .cv-wrapper .languages .for-inputs {
    font-size: 14px; }
  .cv-wrapper .experiences .btn-add, .cv-wrapper .education .btn-add, .cv-wrapper .certification .btn-add, .cv-wrapper .languages .btn-add {
    font-size: 12px; }
  .cv-wrapper .field-from, .cv-wrapper .field-to, .cv-wrapper .customer-field, .cv-wrapper .role-field {
    vertical-align: bottom; }
  .cv-wrapper .cv-form .for-inputs {
    font-size: 12px; }
  .cv-wrapper .btn-field input {
    font-size: 12px;
    padding: 5px 10px; }
  .cv-wrapper .btn-next {
    font-size: 12px; }
  .start-page-wrapper .description {
    font-size: 16px; }
  .start-page-wrapper .note {
    font-size: 12px; }
  .start-page-wrapper form {
    margin-top: 30px; }
  .start-page-wrapper .form-field {
    margin-top: 10px; }
  .start-page-wrapper .checkbox-group .form-field {
    margin-top: 10px; }
  .start-page-wrapper .checkbox-group label {
    font-size: 12px; }
  .start-page-wrapper .checkbox-group .checkbox-label:before {
    top: -2px; }
  .projects-list-page .projects-list li {
    padding: 8px 0 8px 0; }
    .projects-list-page .projects-list li .first-col {
      width: 50%; }
    .projects-list-page .projects-list li .second-col {
      width: 45%; }
    .projects-list-page .projects-list li .third-col {
      width: 5%; }
  .search-parameters .checkbox-group li, .accordion .checkbox-group li {
    width: 100%; }
  .search-result-table .table-head {
    display: none; }
  .search-result-table .user-avatar {
    width: 15%; }
    .search-result-table .user-avatar img {
      width: 35px;
      height: 35px; }
  .search-result-table .icon-user-role {
    width: 10%; }
  .search-result-table .buttons {
    width: auto; }
  .top-search-frame .skills-list button {
    font-size: 12px; }
  .top-search-frame .chosed-skills .one-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 5px; }
  .top-search-frame .chosed-skills .selected-skill {
    font-size: 12px; }
  .top-search-frame .chosed-skills .select-frame {
    height: 28px;
    padding-top: 3px; }
    .top-search-frame .chosed-skills .select-frame .del-skill {
      font-size: 12px; }
  .search-filter-frame [class^="btn-"] {
    font-size: 12px;
    padding: 5px 10px; }
  .search-filter-frame .filters-list li {
    width: 100%; }
  .search-result-table .company-name, .search-result-table .company-profile, .search-result-table .company-phone, .search-result-table .company-email, .search-result-table .company-partner, .search-result-table .company-consultant {
    width: 100%; }
  .create-project-page .form-field input {
    width: 100%; }
  .create-project-page .form-field textarea {
    height: 100px; }
  .create-project-page .Select {
    width: 100%; }
  .create-project-page .for-inputs {
    width: 100%; }
  .create-project-page .frame-btn .btn-main {
    padding: 2px 3px; }
  .setting-page form .form-field {
    width: 100%; }
  .setting-page form textarea {
    height: 100px; }
  .contacts-stuff-settings-frame .image-preview img {
    max-width: 90px;
    max-height: 90px; }
  .terms-settings-frame form .mce-btn-group {
    border: none; }
  .super-users-settings-frame .super-users-table .one-item .email {
    width: 100%; }
  .super-users-settings-frame .super-users-table .one-item .first-name, .super-users-settings-frame .super-users-table .one-item .last-name {
    width: 100%; }
  .super-users-settings-frame .super-users-table .one-item .option {
    width: 100%; }
  .super-users-settings-frame .super-users-table .table-head {
    display: none; }
  .super-users-settings-frame .super-users-table .table-body .xs-title {
    display: inline-block;
    font-weight: 600; }
  .logs-settings-frame .log-list .item {
    padding: 3px 0; }
    .logs-settings-frame .log-list .item a {
      font-size: 12px; }
  .notify-emails-settings-frame .form-field {
    width: 85%; }
  .notify-emails-settings-frame .notify-list .remove-notify {
    margin-top: 8px;
    width: 24px;
    height: 24px;
    font-size: 10px; }
  .notify-emails-settings-frame .add-notify .form-field {
    width: 75%; }
  .notify-emails-settings-frame .add-notify .btn-next {
    margin: 3px 0 0 20px; }
  .contacts-page .contacts-link {
    font-size: 14px; }
  .contacts-list li {
    width: 200px;
    margin: 0 auto 20px !important;
    display: block; }
    .contacts-list li .avatar {
      height: 200px; }
    .contacts-list li .name {
      font-size: 18px; }
    .contacts-list li .sub {
      font-size: 12px; }
  .company-details .assignments-type .one-item {
    width: 100%; }
  .company-details .photo-block-wrap {
    margin-bottom: 20px;
    width: 150px !important;
    height: 150px; }
    .company-details .photo-block-wrap .btn-main {
      font-size: 12px;
      padding: 5px 10px; }
  .company-details .frame-buttons .btn-main, .company-details .frame-buttons .btn-main-alt {
    margin-right: 10px;
    font-size: 12px;
    padding: 5px 10px; }
  .frame-add-consultant.top {
    position: static;
    margin-bottom: 15px; }
  .frame-add-consultant button {
    font-size: 12px;
    padding: 5px 10px; }
  .competences-frame [class^="btn-"] {
    font-size: 11px;
    padding: 5px; }
  .competences-frame .families-list > li .frame-inputs,
  .competences-frame .skills-list > li .frame-inputs {
    width: 100%; }
  .competences-frame .families-list > li .form-field,
  .competences-frame .skills-list > li .form-field {
    width: 100%;
    margin-right: 0; }
    .competences-frame .families-list > li .form-field input,
    .competences-frame .skills-list > li .form-field input {
      padding: 5px;
      font-size: 12px; }
  .competences-frame .skills-list li {
    padding-left: 20px; }
  .time-reports-pages [class^="btn-"] {
    font-size: 12px;
    padding: 5px 10px; }
  .time-reports-pages .reports-table .table-head {
    display: none; }
  .time-reports-pages .reports-table .table-body .time-report {
    text-align: left;
    padding-right: 0; }
  .time-reports-pages .reports-table .table-body .xs-title {
    display: inline-block;
    vertical-align: middle; }
  .time-reports-pages .reports-table .name, .time-reports-pages .reports-table .client-profile, .time-reports-pages .reports-table .project, .time-reports-pages .reports-table .time-report {
    width: 100%; }
  .one-report-wrapper .one-item .day {
    width: 30%; }
  .one-report-wrapper .one-item .hours {
    width: 30%; }
  .one-report-wrapper .one-item .activity {
    width: 40%; }
  .invoice-frame {
    font-size: 9px;
    padding: 3px; }
  .invoice-section textarea, .invoice-section input[type="text"], .invoice-section input[type="number"] {
    font-size: 9px; }
  .invoice-section .column {
    padding: 3px; }
  .invoice-section .section-header h4 {
    padding: 3px; }
  .invoice-section .Select .Select-control {
    height: 16px; }
    .invoice-section .Select .Select-control .Select-value {
      line-height: 16px; }
  .invoice-section .Select .Select-input {
    height: 16px; }
  .invoice-section.description .del-description {
    font-size: 9px; }
  .invoice-section.description .btn-main {
    font-size: 9px;
    padding: 3px; }
  .btn-main {
    font-size: 12px;
    padding: 5px 10px; }
  .password-frame input {
    width: 100%; } }
