.contacts-page .contacts-address {
  font-size: 14px;
  color: #262626;
  margin-bottom: 20px; }

.contacts-page .contacts-link {
  font-weight: bold;
  color: #262626;
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block; }

.contacts-page .title {
  margin-bottom: 25px; }

.contacts-list {
  font-size: 0; }
  .contacts-list li {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-left: 80px;
    margin-bottom: 50px;
    text-align: center; }
    .contacts-list li:nth-child(3n+1) {
      margin-left: 0; }
    .contacts-list li .avatar {
      border-radius: 100%;
      overflow: hidden;
      margin-bottom: 12px; }
      .contacts-list li .avatar img {
        max-width: 100%; }
    .contacts-list li .name {
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: bold; }
    .contacts-list li .sub {
      font-size: 14px;
      margin-bottom: 15px; }
