.contacts-page {
  .contacts-address {
    font-size: 14px;
    color: #262626;
    margin-bottom: 20px;
  }
  .contacts-link {
    font-weight: bold;
    color: #262626;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
  }
  .title {
    margin-bottom: 25px;
  }
}

.contacts-list {
  font-size: 0;
  li {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-left: 80px;
    margin-bottom: 50px;
    text-align: center;
    &:nth-child(3n+1) {
      margin-left: 0;
    }
    .avatar {
      border-radius: 100%;
      overflow: hidden;
      margin-bottom: 12px;
      img {
        max-width: 100%;
      }
    }
    .name {
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: bold;
    }
    .sub {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
}